[Desktop Entry]
Encoding=UTF-8
Name=Xenios
Comment=Xenios P2P Cryptocurrency
Comment[fr]=Xenios, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Xenios, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/xenios-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/xenios;
Categories=Office;
